<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/subHeader :: subHeader"></head>
<head>
<!-- card -->
<link rel="stylesheet" href="../resources/css/card/card.css">
<!-- bodycss -->
<link rel="stylesheet" href="../resources/css/exchange/exchangeCard.css">
</head>

<body>

	<header th:replace="fragments/subBodyHeader :: header"> </header>

	<div class="sub-menu hide">
		<div th:replace="fragments/subMenu" :: subNav></div>
	</div>

	<section>

		<div class="exc-title-container">
			<div class="exc-single-title inner-size">

				<p>희망카드</p>

			</div>

			<div class="exc-innerwrap inner-size">

				<div class="exc-title">
					<h1>[[${wishCard.cardInfo.name}]]</h1>
					<p>사용자별점</p>
					<span> 
					<th:block th:if="${userRate} >= 1">
							<th:block th:each="num : ${#numbers.sequence(1,userRate)}">
								<i class="fas fa-star full-star"></i>
							</th:block>
					</th:block> 
					<th:block th:if="${userRate%1!=0}">
							<i class="fas fa-star-half-alt"></i>
					</th:block> 
					<th:block th:each="num : ${#numbers.sequence(0,5-userRate)}">
							<i th:unless="${num == 0}" class="far fa-star"></i>
					</th:block>
					</span>
					<p>물건별점</p>
					<span>
					<th:block th:each="num : ${#numbers.sequence(1,wishCard.cardInfo.condition)}">
							<i class="fas fa-star full-star"></i>
					</th:block> 
					<th:block th:each="num : ${#numbers.sequence(0,5-wishCard.cardInfo.condition)}">
							<i th:unless="${num == 0}" class="far fa-star"></i>
					</th:block>
					</span>
					<p>지역</p>
					<strong>[[${wishCard.cardInfo.region}]]</strong><strong>[[${wishCard.cardInfo.regionDetail}]]</strong>
				</div>

				<div class="exc-img">
					<div class="whish-img-container">
						<img th:src="${wishCard.fileDTO.getDownloadURL()}" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="exc-single-title inner-size">

			<p>교환희망카드</p>

		</div>
		<form id="submit" th:action="@{/exchange/exchangeForm}" method="post">
		<div class="refund-container inner-size">

			<div class="exc-whish-card-table" id="appendArea">
				<div class="card-container" id="default-card">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                        </div>
                </div>
                
                <div class="card-container" id="default-card">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                        </div>
                </div>
                
                <div class="card-container" id="default-card">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                        </div>
                </div>
                
                <div class="card-container" id="default-card">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                        </div>
                </div>
				
			</div>

		</div>
		<input type="hidden" name="wishCardIdx" th:value="${wishCard.cardInfo.cardIdx}">
		<input type="hidden" id="available_bal" name="availableBal" th:value="${availableBal}">

		<div class="button-container">
			<div class="button-wrap inner-size">
				<span>요청포인트</span><input class="present-point" type="text" id="offerPoint" name="offerPoint" onchange="checkBalance(this)"
					placeholder="포인트를입력하세요."><span>P</span>
				<button type="button" class="req-button">요청</button>
				<button type="button"class="cancel-button">취소</button>
			</div>
		</div>
		</form>
	
	</section>

	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	<script type="text/javascript"> 
 	
	   	document.querySelectorAll(".card-box").forEach(function(e){
			switch(e.previousElementSibling.value){
			case '1' : e.setAttribute("src","../resources/img/ddongCard.png"); break;
			case '2' : e.setAttribute("src","../resources/img/BrownCard.png"); break;
			case '3' : e.setAttribute("src","../resources/img/silverCard.png"); break;
			case '4' : e.setAttribute("src","../resources/img/goldCard.png"); break;
			case '5' : e.setAttribute("src","../resources/img/diaCard.png"); break;
			default : console.dir("error!!!");
			};
		})
		
		document.querySelectorAll("#icon-val").forEach(function(e){
			switch(e.previousElementSibling.value){
			case '전자기기/생활가전' : e.setAttribute("class","fas fa-bolt"); break;
			case '가구/인테리어' : e.setAttribute("class","fas fa-couch"); break;
			case '유아동' : e.setAttribute("class","fal fa-baby"); break;
			case '생활/가공식품' : e.setAttribute("class","fas fa-utensils"); break;
			case '스포츠/레저' : e.setAttribute("class","fas fa-basketball-ball"); break;
			case '패션/잡화' : e.setAttribute("class","fas fa-tshirt"); break;
			case '게임/만화' : e.setAttribute("class","fas fa-gamepad"); break;
			case '뷰티/미용' : e.setAttribute("class","fas fa-air-freshener"); break;
			case '반려 동물 용품' : e.setAttribute("class","fas fa-paw"); break;
			case '도서/티켓/음반' : e.setAttribute("class","fas fa-compact-disc"); break;
			case '기타' : e.setAttribute("class","fas fa-cogs"); break;
			default : console.dir("error!!!");
			};
		})
	</script>

</body>
</html>

