<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/subHeader :: subHeader"></head>
<head>
	<!-- card -->
	<link rel="stylesheet" href="../resources/css/card/card.css">
	<!-- bodycss -->
    <link rel="stylesheet" href="../resources/css/exchange/exchangeCard.css">
</head>	

<body>

    <header th:replace="fragments/subBodyHeader :: header">
    </header>
	
	<div class="sub-menu hide">
		<div th:replace="fragments/subMenu" :: subNav>
	    </div>
	</div>

    <section>

        <div class="exc-title-container">
            <div class="exc-single-title inner-size">

                <p>희망카드</p>
                
            </div>

            <div class="exc-innerwrap inner-size">

                <div class="exc-title">
                    <h1>갤럭시워치</h1>
                    <p>사용자별점</p>
                    <span>
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                    </span>
                    <p>물건별점</p>
                    <span>
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                        <i class="fas fa-star"></i>    
                    </span>
                    <p>지역</p><strong>서울</strong><strong>강서구</strong>
                </div>

                <div class="exc-img">
                    <div class="whish-img-container">
                        <img src="../resources/img/iphone.png" alt="">
                    </div>
                </div>

            </div>

            <div class="exc-single-title inner-size">

                <p>내카드리스트</p> <span>사용가능포인트 <strong>1000P</strong></span>
                
                
            </div>

            <div class="refund-container inner-size">

                <div class="exc-card-table">

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                            
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                           
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                          
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                            
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                           
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                           
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                            
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="exc-single-title inner-size">

                <p>교환희망카드</p>
                
                
            </div>

            <div class="refund-container inner-size">

                <div class="exc-whish-card-table">

                    <div class="card-container">
                        <div class="card-name">
                            <p>아이폰</p>
                        </div>
                        <div class="grade-container">
                            <div class="icon">
                                <!-- 아이콘 변경 -->
                                <i class="fas fa-bolt"></i>
                            </div>
                            <div class="user-grade">
                                <p>사용자 평점</p>
                                <!-- 사용자 별점 -->
                                <div class="star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="item-grade">
                                <p>물건 평점</p>
                                <!-- 물건 별점 -->
                                <div class="star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="address">
                            <!-- 주소 -->
                            <p>지역 <span>강남</span> <span>강서구</span></p>
                        </div>
                        <div class="card">
                            <img src="../resources/img/ddongCard.png" alt="">
                            <div class="card-img">
                                <!-- 카드 물건 이미지 -->
                                <img src="../resources/img/iphone.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                            
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                           
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <img src="../resources/img/defaultCard.png" alt="">
                           
                        </div>
                    </div>
                </div>

            </div>
            

        </div>

        <div class="button-container">
            <div class="button-wrap inner-size">
                <span>요청포인트</span><input class="present-point" type="text" placeholder="포인트를입력하세요.">
                <button class="req-button">요청</button>
                <button class="cancel-button">취소</button>
            </div>
        </div>


    </section>

    <footer>
       <div th:replace="fragments/footer :: footer" ></div>
   	</footer>

</body>
</html>

