<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../resources/css/exchangeForm.css">
    <link rel="stylesheet" href="../resources/css/card/card.css">
    <link rel="stylesheet" href="../resources/css/card/card2.css">
    <title>switchswitch</title>
</head>
<body>
    
    <section class="exchange-section">

        <div class="exchange-container">
            <div class="list-info">
                <div class="mycard-list-container">
                    <p>내 카드 리스트</p>
                    <div class="mycard-list">
                        <div class="card-container" style="width:180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-container" style="width:180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-container" style="width:180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-info-container">
                    <p>카드 정보</p>
                    <div class="card-info">
                        <p>물품 설명 </p>
                        <span>구데기 입니다</span>
                        <p>거래 방식</p>
                        <span>직거래</span>
                        <p>배송비</p>
                        <span>유</span>
                        <p>물품 이미지</p>
                        <div class="item-images">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="wishCard">
                <p>교환 희망 카드 리스트</p>
                <div class="wishCard-container">
                    <div class="top-container">
                        <div class="card-container" style="width: 180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exchange-icon">
                        <i class="fas fa-sync-alt"></i>
                    </div>
                    <div class="bottom-container">
                        <div class="card-container" style="width:180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-container" style="width:180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-container" style="width:180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-container" style="width:180px;">
                            <div class="card-name">
                                <p>아이폰</p>
                            </div>
                            <div class="grade-container">
                                <div class="icon">
                                    <!-- 아이콘 변경 -->
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="user-grade">
                                    <p>사용자 평점</p>
                                    <!-- 사용자 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <div class="item-grade">
                                    <p>물건 평점</p>
                                    <!-- 물건 별점 -->
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <!-- 주소 -->
                                <p>지역 <span>강남</span> <span>강서구</span></p>
                            </div>
                            <div class="card">
                                <img src="/image/ddongCard.png" alt="">
                                <div class="card-img">
                                    <!-- 카드 물건 이미지 -->
                                    <img src="/image/iphone.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="point">
                <div class="balance">
                    <div class="balance-inner">
                        <p>Point 잔액</p>
                        <input type="text"><span>P</span>
                    </div>
                </div>
                <div class="proposal">
                    <div class="proposal-inner">
                        <p>제시 잔액</p>
                        <input type="text"><span>P</span>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit">요청</button>
                <button>취소</button>
            </div>
        </div>

    </section>

</body>
</html>