<!DOCTYPE html>
<html>

<head>        
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Switch-Switch</title>
        <!-- Favicon-->
        <link rel="icon" type="resources/img/x-icon" href="../../../resources/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../../resources/css/styles.css" rel="stylesheet" />
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="../../../resources/css/board/board.css" rel="stylesheet" />

</head>
<body>


	<section>
		<div class="container">

			<div class='section'>
				<div class='section_wrap'>
					<div class="section_top">
						<h2>정보공유 상세페이지</h2>
						<div class='btn_area'>

							<a class="btn" href="/board/delete-board?bd_idx=${datas.board.bdIdx }">글삭제</a> <a class="btn"><span class="btn" onclick="alert('이전글이 없습니다.');">이전글</span></a> <a class="btn"><span onclick="alert('다음글이 없습니다.');">다음글</span></a> <a class="btn" href="/board/board-page">목록</a>
						</div>
					</div>


					<div class="section_content_box">
						<div class="section_header">
							<div class="section_title">
								<p>정보공유합니다</p>
							</div>
							<div class="writer_info">

								<div class="writer_profile">
									<div>작성일: 2021-10-23</div>
									<div>작성자: 룰루랄라</div>
								</div>
								<div class="writer_board_info">
									<ul class="dep1">
										<li><a>첨부파일</a>
											<ul class="dep2">

											</ul></li>
									</ul>

								</div>
							</div>
						</div>
						<div class="section_container">
							<div class="content_area" id=editor1>후후 좋은 정보 드리지요~키키</div>
<!-- 							<script>
							CKEDITOR.replace( 'editor1', {
								removePlugins: 'resize',
								height: 600,
								readOnly: true,
								width: '100%',
								language: 'ko',
								removeButtons: 'PasteFromWord'
							} );
						</script> -->

							<div class="comment_area">
								<div class="line_btns">

									<!-- <span>등록순</span>
								<span>최신순</span> -->
								</div>
								<div>
									<div class="cmt_wrap">
										<div class="cmt_info">
											<div>
												작성자 <a href="/reply/delete-reply?rp_idx=${reply.rpIdx }&bd_idx=${board.bdIdx }" style="margin-left: 10px;"><i class="fas fa-times"></i></a>
											</div>

										</div>
										<div>좋은 정보 감사합니다.</div>
									</div>
								</div>

								<form class="frm_write_cmt" action="/reply/add-reply?bd_idx=${board.bdIdx }" method="POST">
									<div class="cmt_write_box">

										<div class="cmt_writer_id"></div>
										<textarea name="content" placeholder="댓글을 입력하세요" required="required"></textarea>
										<button class="cmt_write_btn">등록</button>




									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>