<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Switch-Switch</title>

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../../resources/css/board/styles.css" rel="stylesheet" />
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="../resources/css/board/board.css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<style type="text/css">

</style>
</head>
<body>

	<section>
		<div class="container">

			<div class='section' th:object="${datas}">

				<div class='section_wrap'>
					<div class="section_top">
						<h2>정보공유 상세페이지</h2>
						<form class='frm_post'
							th:action="|/board/delete?${_csrf.parameterName}=${_csrf.token}&bdIdx=${datas.board.bdIdx}|"
							method="post" enctype="multipart/form-data">
							<div class='btn_area'>
								<span th:if="${#authentication.principal.memberNick} == ${datas.board.userId}">						
									<a class="btn" th:href="@{/board/board-modify(bdIdx=${datas.board.bdIdx})}">글수정</a>
									<button id="btnDelete" class="btn">삭제</button>						
								</span>
								<a class="btn" th:href="@{/board/board-list}">목록</a>	
							</div>
						</form>
					</div>


					<div class="section_content_box">
						<div class="section_header">
							<div class="section_title">
								<span th:text="|제목 : *{board.title}|"></span>
							</div>
							<div class="writer_info">

								<div class="writer_profile">
									<span th:text="|등록일 : *{board.regDate}|"></span> <span th:text="|작성자 : *{board.userId}|"></span>
								</div>
								<div class="info file_info">
									<ol>
										<li th:each="file : ${datas.files}" th:object="${file}"
											th:onclick="downloadFile([[*{originFileName}]],[[*{renameFileName}]],[[*{savePath}]])">
											<a> [[*{originFileName}]]</a>
										</li>
									</ol>
								</div>
							</div>
						</div>
						<div class="section_container">
							<pre>[[*{board.content}]]</pre>
							<div class="file-img">
								<!--  이미지 -->
								<img th:each="file : ${datas.files}" th:object="${file}" alt="" th:src="*{getDownloadURL()}" width="500px" height="auto">
							</div>
						</div>
					</div>
					
					<!-- 댓글 -->				
					<div  id="commentList">
						<div class="cmt_wrap" th:each="comment : ${commentList}" th:id="${comment.cmIdx}">
							<div>
									<div class="cmt_info">
										<div>
											<a th:text="|작성자 : ${comment.userId}|"
												style="margin-left: 10px;"><i class="fas fa-times"></i></a>
										</div>
									</div>						
								<pre>[[${comment.content}]]</pre>
							</div>
							<span th:if="${#authentication.principal.memberNick} == ${comment.userId}">
						        <button id="btn-delete" class="btn btn-danger" type="submit" name="submit" value="delete" th:onclick="'deleteConfirm(' + ${comment.cmIdx} + ')'">삭제</button>
						        <button id="btn-update" class="btn btn-warning" type="submit" name="submit" value="update" onclick="updateComment()">수정</button>
						    </span>
						    <input type="hidden"  th:value="${comment.cmIdx}" class="cmIdx">
						</div>
					</div>


					<!-- 댓글 입력란 -->
					<div class="form-group shadow-textarea">
						<th:if test="${principal == null}">
							<span>로그인을 하시면 댓글을 등록할 수 있습니다. <a href="/member/login">[로그인]</a></span>
						</th:if>
						<sec:authorize access="isAuthenticated()" >
							<label>댓글</label>
							<div style="position: relative; height: 100%">
								<div>
										<textarea id="commentContent" name="content" class="form-control z-depth-1" rows="3" maxlength="1000"	 placeholder="댓글을 입력해주세요."></textarea>
										<input type="button" class="btn btn-default" id="commentCreate" onclick="uploadConfirm()" style="width: 100%;" value="작성">
										<input type="hidden"  th:value="${datas.board.bdIdx}" class="bdIdx">
								</div>
							</div>
						</sec:authorize>

					</div>

					
					
				</div>
			</div>
		</div>

	</section>
	<script type="text/javascript" th:inline="javascript">
	let header = "[(${_csrf.headerName})]";
    let token = "[(${_csrf.token})]";
    let bdIdx = [[${param.bdIdx}]];
    let cmIdx = [[${param.cmIdx}]];
    let userId = [[${#authentication.principal.memberNick}]];
	</script>
<script type="text/javascript" th:inline="javascript" th:src="@{../resources/js/board/board-detail.js}">
</script>
</body>
</html>