<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Switch-Switch</title>

        <link href="../../../resources/css/styles.css" rel="stylesheet" />
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="../../../resources/css/board/board-list.css" rel="stylesheet" />
		<link href="../../../resources/css/all.css" rel="stylesheet" />
	

    <style type="text/css">
    .paging{
		display: flex;
		justify-content: center;		
	}
	
	.paging>*{
		margin: 10px 5px 0 5px;
	}
	

.btn{
	width: 150px;
	height: 30px;
	font-size: 15px;
	background-color: #eeeeee;
	line-height: 28px;
	display: flex;
	justify-content: flex-end;
	text-align: center;
	align-items: center;
	margin-left: 10px;
	color: black;
}
.btn{
	font-size: 15px;
}
    </style>
    </head>
    
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <div class="container px-4 px-lg-5">
               
            </div>
        </nav>
        
        
  <section>
    <div class="container">
    
		<div class='section'>
			<div class='wrapper'>
				<div class="sub_title">
					<h2>정보공유게시판</h2>
						<form class="search_bar_wrap">
							<input type="text" name="q" placeholder="검색어를 입력하세요." />
							<button onclick="submit">검색</button>
							<a class="btn" href="/board/board-form" style="float: right;">게시글 작성하기</a>
						
						</form>

						
				</div>
				
				<div class="row">
					<table class="table" style="border: 1px solid ">
						<thead>
							<tr style="height: 30px">
								<th style="width: 20%">No</th>
								<th style="width: 50%">제목</th>
								<th style="width: 30%">작성일</th>
								
							</tr>
						</thead>
						<tbody>	
							<tr th:each="board : ${boardList}" style="height: 30px; line-height: 30px;">
								<td th:text="${board.bdIdx}"></td>
								<td>
								<a th:text="${board.title}" th:href="@{/board/board-detail(bdIdx=${board.bdIdx})}"></a>
								</td>
								<td th:text="${board.regDate}"></td>
							</tr>
							
							
							<tr style="height: 30px; line-height: 30px;">
								<td rowspan="3" style="text-align: center">게시글이 없습니다.</td>

							</tr>
							
							
						</tbody>
						
					</table>
				<!-- pagination section -->
					<!-- 페이징 -->
	<nav th:fragment="paging" class="paging" th:object=${paging}>
	  <ul class="pagination">
	    <li class="page-item">
	      <a class="page-link" th:href="|*{url}?page=*{prev}|" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    
	    <li class="page-item" th:each = "p : ${#numbers.sequence(paging.blockStart,paging.blockEnd)}">
	    	<a th:href="|*{url}?page=${p}|" class="page-link" th:text="${p}">1</a>
	    </li>
	    
	    <li class="page-item" >
	      <a class="page-link" href="#" th:href="|*{url}?page=*{next}|">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

	<div class="paging" th:object=${paging} >
		<a th:href="*{url}"> <i class="fas fa-angle-double-left"></i> </a>
		<a th:href="|*{url}?page=*{prev}|"> <i class="fas fa-angle-left"></i></a> 
		
		<a th:each = "p : ${#numbers.sequence(paging.blockStart,paging.blockEnd)}"
		   th:href="|*{url}?page=${p}|">
			<span th:text="${p}"></span>
		</a>
		
		<a th:href="|*{url}?page=*{next}|"> <i class="fas fa-angle-right"></i> </a>
		<a th:href="|*{url}?page=*{lastPage}|"> <i class="fas fa-angle-double-right"></i> </a>
	</div>
				</div>
					
				
			</div>
		</div>		
	</div>
  </section>

</body>
</html>