<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:replace="fragments/subHeader :: subHeader"></head>
	<head>
		<!-- chatList -->
	    <link rel="stylesheet" href="../resources/css/mypage/chatList.css">
	</head>
	
	<body>

   	<header th:replace="fragments/subBodyHeader :: header">
    </header>
	
	<div class="sub-menu hide">
		<div th:replace="fragments/subMenu" :: subNav>
	    </div>
	</div>
   
    <section>

         <div class="chat-title-container">
            <div class="chat-innerwrap inner-size">

                <div class="chat-title">
                    <h1>채팅리스트</h1>
                </div>

                <div class="chat-img">
                    <img src="../resources/img/chatListback.png" alt="">
                </div>

            </div>

            <div class="refund-container inner-size">

                <div class="refund-input">

                    <div class="info">
                        <a class="chat-list-a" href="chat">
                            <div class="info-img">
                                <img src="/image/추성훈-추사랑-사랑이-슈퍼맨이-돌아왔다-귀여운-아기-바나나-사랑.jpg" alt="">
                            </div>
                            <div class="info-detail">
                                <div class="info-name">
                                    <p>정현직</p>
                                </div>
                                <div class="message">
                                    <div class="content">
                                        <p>안녕하세요 케케케</p>
                                    </div>
                                    <div class="email-icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                            <a href="close" class="trash-a">
                                <div class="trash">
                                  <i class="fas fa-minus-circle"></i>
                                </div>
                            </a>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <footer>
       <div th:replace="fragments/footer :: footer" ></div>
   	</footer>
    <script type="text/javascript" th:inline="javascript" th:src="@{../resources/js/point/history.js}"></script>
</body>
</html>