<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:replace="fragments/subHeader :: subHeader"></head>
	<head>
		<!-- refund -->
	    <link rel="stylesheet" href="../resources/css/point/refundHistory.css">
	    <style type="text/css">
	    .rounded-circle {
		  border-radius: 50% !important;
		}
	    </style>
	</head>
	
	<body>

   	<header th:replace="fragments/subBodyHeader :: header">
    </header>
	
	<div class="sub-menu hide">
		<div th:replace="fragments/subMenu" :: subNav>
	    </div>
	</div>
   
    <section>

        <div class="ref-title-container">
            <div class="ref-innerwrap inner-size">
            	<div class="ref-title">
                   <h1>채팅 목록</h1>
                </div>
                <div class="ref-img">
                    <img src="../resources/img/pointCoin.png" alt="">
                </div>
            </div>

            <div class="refund-container inner-size">

                <div class="histroy-table"  style="flex-direction: column; overflow-y:scroll; ">
                
                <!-- chatting block  -->
               		<div th:each="chatting : ${chattingList}" th:object="${chatting}">
                   		<a th:href="@{/chat/chat(chattingIdx=*{chatting.chattingIdx})}" style="width: 100%; margin-bottom: 8px; margin-top: 8px;">
                       	 <div>
                       		<th:block  th:if ="*{FileInfo == null}">
                           		<img class="rounded-circle" src="../resources/img/no-img.jpg" style="width: 50px; height: 50px;">
                           	</th:block>
                          	<th:block  th:unless ="*{FileInfo == null}">
                           		<img class="rounded-circle" th:src="*{FileInfo.getDownloadURL()}" style="width: 50px; height: 50px;">
                           </th:block>
                           <span style="width: 10vw; vertical-align:top;">[[*{attendee.memberNick}]] &nbsp; <a th:href="@{/chat/delete(chattingIdx=*{chatting.chattingIdx})}" onclick="alert('채팅방이 삭제되었습니다')"><i style="vertical-align:top;" class="fas fa-trash"></i></a></span>
                           <span style="width: 80%; align-self: center;">[[*{lastMessage}]] &nbsp; &nbsp;<th:block th:if="*{isRead} != 0"><i style="color: red" class="fas fa-plus-circle"></i></th:block></span>
                         </div>
                         </a>
                        <hr>
                    </div>
                </div>
       		</div>
         </div>
    </section>

    <footer>
       <div th:replace="fragments/footer :: footer" ></div>
   	</footer>
    <script type="text/javascript" th:inline="javascript" th:src="@{../resources/js/point/history.js}"></script>
</body>
</html>