<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    
</head>

<body>

    <header th:replace="fragments/bodyHeader :: bodyHeader">

    </header>

    <section>

        <div class="pop-card-list-container">

            <div class="pop-card-title inner-size">
                <p class="font-line">인기카드list</p>
            </div>

            <div class="pop-card-list inner-size">

                <div class="card-container" th:each="card : ${cardsTop5}" th:object="${card}">
                    <div class="card-name">
                        <p>[[*{card.name}]]</p>
                    </div>
                    <div class="grade-container">
                        <div class="icon">
                            <!-- 아이콘 변경 -->
                            <input type="hidden" th:value="*{card.category}">
	                        <i id="icon-val"></i>
                        </div>
                        <div class="user-grade">
                            <p>사용자 평점</p>
                            <!-- 사용자 별점 -->
							<div class="star">
								<th:block th:if="*{cardOwnerRate} >= 1">
									<th:block th:each="num : *{#numbers.sequence(1,cardOwnerRate)}">
										<i class="fas fa-star full-star"></i>
									</th:block>
								</th:block>
								<th:block th:if="*{cardOwnerRate%1!=0}">
									<i class="fas fa-star-half-alt"></i>
								</th:block>
								<th:block th:each="num : *{#numbers.sequence(0,5-cardOwnerRate)}">
									<i th:unless="${num == 0}" class="far fa-star"></i>
								</th:block>
							</div>
						</div>
                        <div class="item-grade">
                            <p>물건 평점</p>
                            <!-- 물건 별점 -->
							<div class="star">
								<th:block th:each="num : *{#numbers.sequence(1,card.condition)}">
									<i class="fas fa-star full-star"></i>
								</th:block>
								<th:block
									th:each="num : *{#numbers.sequence(0,5-card.condition)}">
									<i th:unless="${num == 0}" class="far fa-star"></i>
								</th:block>
							</div>
						</div>
                    </div>
                    <div class="address">
                        <!-- 주소 -->
                        <p>지역 <span th:text="*{card.region}"></span> <span th:text="*{card.regionDetail}"></span></p>
                    </div>
					<div class="card">
						<input type="hidden" th:value="*{card.condition}"> 
						<img class="card-box" alt="">
						<div class="card-img">
							<!-- 카드 물건 이미지 -->
							<img th:src="*{fileDTO.getDownloadURL()}" alt="">
						</div>
					</div>
				</div>

            </div>
            
            <div class="more-cardlist ">
                <a href="">인기카드 더보기</a>
            </div>

        </div>

        <div class="reco-user-list-contaienr">

            <div class="reco-user-title inner-size">
                <p class="font-line">추천회원list</p>
            </div>

            <div class="reco-user-inner-list inner-size">
                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <footer>
       <div th:replace="fragments/footer :: footer"></div>
    </footer>
	<script type="text/javascript">
		document.querySelectorAll(".card-box").forEach(function(e){
			switch(e.previousElementSibling.value){
			case '1' : e.setAttribute("src","../resources/img/ddongCard.png"); break;
			case '2' : e.setAttribute("src","../resources/img/BrownCard.png"); break;
			case '3' : e.setAttribute("src","../resources/img/silverCard.png"); break;
			case '4' : e.setAttribute("src","../resources/img/goldCard.png"); break;
			case '5' : e.setAttribute("src","../resources/img/diaCard.png"); break;
			default : console.dir("error!!!");
			};
		})
	
		document.querySelectorAll("#icon-val").forEach(function(e){
			switch(e.previousElementSibling.value){
			case '전자기기/생활가전' : e.setAttribute("class","fas fa-bolt"); break;
			case '가구/인테리어' : e.setAttribute("class","fas fa-couch"); break;
			case '유아동' : e.setAttribute("class","fal fa-baby"); break;
			case '생활/가공식품' : e.setAttribute("class","fas fa-utensils"); break;
			case '스포츠/레저' : e.setAttribute("class","fas fa-basketball-ball"); break;
			case '패션/잡화' : e.setAttribute("class","fas fa-tshirt"); break;
			case '게임/만화' : e.setAttribute("class","fas fa-gamepad"); break;
			case '뷰티/미용' : e.setAttribute("class","fas fa-air-freshener"); break;
			case '반려 동물 용품' : e.setAttribute("class","fas fa-paw"); break;
			case '도서/티켓/음반' : e.setAttribute("class","fas fa-compact-disc"); break;
			case '기타' : e.setAttribute("class","fas fa-cogs"); break;
			default : console.dir("error!!!");
			};
		})
	</script>
</body>

</html>