<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontaawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- resetcss -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- indexcss -->
    <link rel="stylesheet" href="../resources/css/index/index.css">
    <!-- cardcss -->
    <link rel="stylesheet" href="../resources/css/card/card2.css">
    <!-- favicon -->
    <link rel="icon" type="../resources/img/x-icon" href="/image/favicon.ico">

    <title>SwitchSwitch</title>
</head>

<body>

    <header>

        <div class="header-container">

            <div class="login-join-container ">
                <div class="login-join inner-size">
                    <a href="">로그인</a>
                    <div class="divid"></div>
                    <a href="">회원가입</a>
                </div>
            </div>

            <div class="menu-container inner-size">
                <div class="inner-logo">
                    <div class="logo">
                        <a href=""><img src="../resources/img/mainlogo.png" alt=""></a>
                    </div>
                </div>
                <div class="inner-menu">
                    <div class="trade-market hover"><a href="" class="color-wt">교환마켓</a></div>
                    <div class="share-market hover"><a href="" class="color-wt">나눔마켓</a></div>
                    <div class="board hover"><a href="" class="color-wt">게시판</a></div>
                    <div class="myCard hover"><a href="" class="color-wt">내카드</a></div>
                    <div class="myPage hover"><a href="" class="color-wt">마이페이지</a></div>
                </div>
            </div>

            <div class="pop-keyword inner-size">
                <div class="pop-title">
                    <p>인기키워드</p>
                </div>
                <div class="pop-product">
                    <div class="product-name"><a href="">#아이폰</a></div>
                    <div class="product-name"><a href="">#나이키</a></div>
                    <div class="product-name"><a href="">#아디다스</a></div>
                    <div class="product-name"><a href="">#선반</a></div>
                </div>
            </div>

            <div class="main-image">
                <img src="../resources/img/background-image.png" alt="">
            </div>
        </div>

    </header>

    <section>

        <div class="pop-card-list-container">

            <div class="pop-card-title inner-size">
                <p class="font-line">인기카드list</p>
            </div>

            <div class="pop-card-list inner-size">

                <div class="card-container">
                    <div class="card-name">
                        <p>아이폰</p>
                    </div>
                    <div class="grade-container">
                        <div class="icon">
                            <!-- 아이콘 변경 -->
                            <i class="fas fa-bolt"></i>
                        </div>
                        <div class="user-grade">
                            <p>사용자 평점</p>
                            <!-- 사용자 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="item-grade">
                            <p>물건 평점</p>
                            <!-- 물건 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        <!-- 주소 -->
                        <p>지역 <span>강남</span> <span>강서구</span></p>
                    </div>
                    <div class="card">
                        <img src="../resources/img/ddongCard.png" alt="">
                        <div class="card-img">
                            <!-- 카드 물건 이미지 -->
                            <img src="../resources/img/iphone.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-name">
                        <p>아이폰</p>
                    </div>
                    <div class="grade-container">
                        <div class="icon">
                            <!-- 아이콘 변경 -->
                            <i class="fas fa-bolt"></i>
                        </div>
                        <div class="user-grade">
                            <p>사용자 평점</p>
                            <!-- 사용자 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="item-grade">
                            <p>물건 평점</p>
                            <!-- 물건 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        <!-- 주소 -->
                        <p>지역 <span>강남</span> <span>강서구</span></p>
                    </div>
                    <div class="card">
                        <img src="../resources/img/BrownCard.png" alt="">
                        <div class="card-img">
                            <!-- 카드 물건 이미지 -->
                            <img src="../resources/img/iphone.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-name">
                        <p>아이폰</p>
                    </div>
                    <div class="grade-container">
                        <div class="icon">
                            <!-- 아이콘 변경 -->
                            <i class="fas fa-bolt"></i>
                        </div>
                        <div class="user-grade">
                            <p>사용자 평점</p>
                            <!-- 사용자 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="item-grade">
                            <p>물건 평점</p>
                            <!-- 물건 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        <!-- 주소 -->
                        <p>지역 <span>강남</span> <span>강서구</span></p>
                    </div>
                    <div class="card">
                        <img src="../resources/img/diaCard.png" alt="">
                        <div class="card-img">
                            <!-- 카드 물건 이미지 -->
                            <img src="../resources/img/iphone.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-name">
                        <p>아이폰</p>
                    </div>
                    <div class="grade-container">
                        <div class="icon">
                            <!-- 아이콘 변경 -->
                            <i class="fas fa-bolt"></i>
                        </div>
                        <div class="user-grade">
                            <p>사용자 평점</p>
                            <!-- 사용자 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="item-grade">
                            <p>물건 평점</p>
                            <!-- 물건 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        <!-- 주소 -->
                        <p>지역 <span>강남</span> <span>강서구</span></p>
                    </div>
                    <div class="card">
                        <img src="../resources/img/goldCard.png" alt="">
                        <div class="card-img">
                            <!-- 카드 물건 이미지 -->
                            <img src="../resources/img/iphone.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-name">
                        <p>아이폰</p>
                    </div>
                    <div class="grade-container">
                        <div class="icon">
                            <!-- 아이콘 변경 -->
                            <i class="fas fa-bolt"></i>
                        </div>
                        <div class="user-grade">
                            <p>사용자 평점</p>
                            <!-- 사용자 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="item-grade">
                            <p>물건 평점</p>
                            <!-- 물건 별점 -->
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        <!-- 주소 -->
                        <p>지역 <span>강남</span> <span>강서구</span></p>
                    </div>
                    <div class="card">
                        <img src="../resources/img/silverCard.png" alt="">
                        <div class="card-img">
                            <!-- 카드 물건 이미지 -->
                            <img src="../resources/img/iphone.png" alt="">
                        </div>
                    </div>
                </div>

                

            </div>
            
            <div class="more-cardlist ">
                <a href="">인기카드 더보기</a>
            </div>

        </div>

        <div class="reco-user-list-contaienr">

            <div class="reco-user-title inner-size">
                <p class="font-line">추천회원list</p>
            </div>

            <div class="reco-user-inner-list inner-size">
                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>

                <div class="user-container">
                    <div class="user-image">
                        <img src="../resources/img/default-user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>디바디리바</p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <footer>

        <div class="footer-container">
            <div class="footer-info inner-size">
                <div class="reserved">
                    <p>© 2021 SwitchSwitch. All rights reserved.</p>
                </div>
                <div class="footer-logo">
                    <img src="../resources/img/footerlogo.png" alt="">
                </div>
            </div>  
        </div>

    </footer>

</body>

</html>