<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>        
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Switch-Switch</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../../resources/css/styles.css" rel="stylesheet" />
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="../../../resources/css/board/inquiry.css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<style type="text/css">

</style>
</head>
<body>


	<section>
		<div class="container" >

			<div class='section' th:object="${datas}">
				<div class='section_wrap'>
					<div class="section_top">
						<h2>문의하기 상세페이지</h2>
					</div>
					<form class='frm_post'
						th:action="|/inquiry/delete?${_csrf.parameterName}=${_csrf.token}&inquiryIdx=${datas.inquiry.inquiryIdx}|"
						method="post" enctype="multipart/form-data">
						<div class='btn_area'>
						<span th:if="${#authentication.principal.memberNick} == ${datas.inquiry.userId}">
							<a class="btn"
								th:href="@{/inquiry/inquiry-modify(inquiryIdx=${datas.inquiry.inquiryIdx})}">수정</a>
							<button id="btnDelete" class="btn">삭제</button>
						</span>
							<a class="btn" th:href="@{/inquiry/inquiry-list2}">목록</a>
						</div>
					</form>
					<div class="section_content_box"  th:object="${datas}">
						<div class="section_header">
							<div class="section_title">
								<span th:text="|제목 : *{inquiry.title}|"></span>
							</div>
							<div class="writer_profile">
								<span th:text="|등록일 : *{inquiry.regDate}|"></span>
									<span th:text="|작성자 : *{inquiry.userId}|"></span>
							</div>
						</div>
						<div class="content_area" id=editor1>
							<pre>[[*{inquiry.content}]]</pre>
						</div>
<!-- 
								<form class="frm_write_cmt" action="/reply/add-reply?bd_idx=${board.bdIdx }" method="POST">
									<div class="cmt_write_box">
										<div class="cmt_writer_id"></div>
										<textarea name="content" placeholder="답변을 입력하세요" required="required"></textarea>
										<button class="cmt_write_btn">등록</button>
									</div>
								</form> -->
					</div>
				</div>				
			</div>
				<a class="btn" th:href="@{/inquiry/inquiry-answer(inquiryIdx=${datas.inquiry.inquiryIdx})}">답글 작성</a>
					<div  id="answer">
						<div class="cmt_wrap" th:each="answer : ${answer}" th:id="${answer.answerIdx}">
							<div>
									<div class="cmt_info">
										<div>
											<a th:text="|작성자 : ${answer.userId}|"
												style="margin-left: 10px;"><i class="fas fa-times"></i></a>
										</div>
									</div>						
								<pre>[[${answer.answer}]]</pre>
							</div>
							<span th:if="${#authentication.principal.memberName} == ${answer.userId}">
						        <button id="btn-delete" class="btn btn-danger" type="submit" name="submit" value="delete" th:onclick="'deleteConfirm(' + ${answer.answerIdx} + ')'">삭제</button>						
							</span>
							<input type="hidden"  th:value="${answer.answerIdx}" class="answerIdx">
						</div>
					</div>
		</div>
</section>
	<script type="text/javascript" th:inline="javascript">
	let header = "[(${_csrf.headerName})]";
    let token = "[(${_csrf.token})]";
    let inquiryIdx = [[${param.inquiryIdx}]];
    let answerIdx = [[${param.answerIdx}]];
    let userId = [[${#authentication.principal.memberName}]];
	</script>
<script type="text/javascript" th:inline="javascript" th:src="@{../resources/js/answer/inquiry-detail.js}">
</script>
</body>
</html>