<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="fragments/subHeader :: subHeader"></head>
<!-- findingcss -->
<link rel="stylesheet" th:href="@{/resources/css/member/finding.css}">

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>

<header th:replace="fragments/subBodyHeader :: header"></header>

<section>

	<div class="finding-conainer">
		<div class="finding-inner inner-size">
			<form class="finding" th:action="@{/member/reissuePw}" method="post">
				<div class="title">
					<h3>비밀번호 재발급</h3>
				</div>
				<div class="email-input"  th:unless="${success}">
					<input type="text" name="email" class="email"
						placeholder="이메일을 입력해주세요.">
					<div class="error-msg-email" style="visibility: hidden">
						<p>이메일은 필수 입력입니다.</p>
					</div>
				</div>
				<div class="finding-sm"  th:unless="${success}">
					<button type="button" class="findingButton" onclick="checkBlank()">
						비밀번호 재발급</button>
				</div>
			</form>
			<div class="form-group" th:if="${success}">
				<span class="result-box" style="font-size: 18px">[[${success}]]</span>
			</div>
			<div class="find-container">
				아직 회원이 아니신가요? <a class="" th:href="@{/member/consentForm}">회원가입</a>
				<div class="divid"></div>
				<a th:href="@{/member/findingId}">아이디 찾기</a>
				<div class="divid"></div>
				<a th:href="@{/member/login}">로그인</a>
			</div>
		</div>
	</div>

</section>
<script type="text/javascript" th:inline="javascript">
	if ('[(${error})]'){
		alert("[(${error})]");
	}

	function checkBlank() {
		document.querySelector(".error-msg-email").style.visibility = 'hidden';
		if (!$(".email").val() || !document.querySelector(".email").value.trim()) {
			document.querySelector(".error-msg-email").style.visibility = 'visible';
		} else {
			$(".finding").submit();
		}

	}
</script>
</body>
</html>