<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
<body>
알림 거쳐가는 페이지~~~~~
	<script type="text/javascript" th:inline="javascript">
		
		let alarmType = '[(${alarmType})]';
		let receiverIdx = '[(${receiverIdx})]';
		let reqIdx = '[(${reqIdx})]';
		let url = '[(${url})]';
		
		sock.onopen = function(){
			if(alarmType) {
				let message = alarmType+ ','
							+ '' + ',' 
							+ receiverIdx + ',' 
							+ reqIdx;
				//알람타입orisRead, alarmIDX, 수신자IDX, 요청IDX
				sock.send(message);
				if(url){
					location.href = url;
				} else {
					history.back();
				}
				
			}
		};
		
		
	</script>
</body>
</html>