<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="../resources/css/all.css">
<link rel="stylesheet" href="../resources/css/reset.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript">

</script>

<script type="text/javascript" th:inline="javascript">
var sock = new SockJS('http://localhost:9090/alarm");
var sendMessage;
var flg = false; //소켓 연결 true, 미연결 false
var cnt = 0; //소켓 연결 횟수


sock.onopen = function(){
	var str = "서버와 연결되었습니다."
	console.log(str);
}

sock.onclose = function(){
	var str = "서버와의 연결이 끊어졌습니다."
	console.log(str);
}

sock.onmessage = function(msg){
	var data = msg.data;
};

sendMessage = function (){
	sock.send();
}

$('#btn_send').on('click',function (e){
	sendMessage();
	$('#msg').val('');
});

// 알림 보내기
function alarm(){
	let url = 
}
</script>

</body>
</html>