@charset "UTF-8";

@font-face {
  font-family: 'Hahmlet-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: Hahmlet-Bold,sans-serif;
}

#bell{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 30px;
}

.noticeBoxPopUp{
	z-index: 9000;
	visibility: hidden;
}

.notice_box_wrap{
	position: fixed;
	width: 400px;
	height: 350px;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-50%);
	background-image: url("../../img/noticeBoard.png") ;
	background-size: 400px 350px;
	background-repeat: no-repeat;
}

#close{
	position: absolute;
	font-size: 40px;
	left: 360px;
}

.title{
	margin: 5px 0 5px 0;
	padding: 20px 0 20px 0;
	color: #FCF0C8;
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
}

.title h3{
	margin-top: 5px;
}

.contents{
	margin: 20px 0 15px 0;
}

.contents_title{
	color: #333333;
	font-size: 24px;
	font-weight: bolder;
}

.contents_table{
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.5);
}

.contents_table tr{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	border-bottom: 0.5px solid white;
}

.contents_li{
	color: #333333;
	font-size: 18px;
}

.notice_paging{
	margin-top: 10px;
}

.notice_paging a:hover{
	color: #FACE7F;
}

.notice_paging ul{
	display: flex;
	justify-content: center;
}

.notice_paging li{
	margin: 0 5px 0 5px;
}

.notice_paging li a{
	color: #FCF0C8;
	font-weight: bolder;
	font-size: 16px;
}

.noticePopUp{
	z-index: 9999;
	visibility: hidden;
}

.notice{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 500px;
	height: 350px;
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-45%);
	background-image: url("../../img/notice.png");
	background-position: center;
	background-size: cover;
	/* box-shadow: 5px 10px 30px 5px yellow; */
}

.notice_close_wrap{
	height: 80px;
}

.notice_msg_wrap{
	display: flex;
	justify-content: center;
	width: 300px;
	height: 120px;
} 

.notice_btn_wrap{
	height: 100px;
}

#notice_close{
	color: #FCF0C8;
	position: relative;
	font-size: 30px;
	top: 55px;
	left: 150px;
}

#notice_msg{
	display: flex;
	align-items: center;
	width: 250px;
	color: #630A10;
	font-size: 18px;
	text-align: center;
}

#notice_btn{
	color: #FCF0C8;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}





