@charset "UTF-8";

.noticePopUp{
	z-index: 9999;
	visibility: hidden;
}

.notice{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 500px;
	height: 350px;
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-45%);
	background-image: url("../../img/notice.png");
	background-position: center;
	background-size: cover;
	/* box-shadow: 5px 10px 30px 5px yellow; */
}

.notice_close_wrap{
	height: 80px;
}

.notice_msg_wrap{
	display: flex;
	justify-content: center;
	width: 300px;
	height: 120px;
} 

.notice_btn_wrap{
	height: 100px;
}

#notice_close{
	color: #FCF0C8;
	position: relative;
	font-size: 30px;
	top: 55px;
	left: 150px;
}

#notice_msg{
	display: flex;
	align-items: center;
	width: 250px;
	color: #630A10;
	font-size: 18px;
	text-align: center;
}

#notice_btn{
	color: #FCF0C8;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}

#myform fieldset {
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio] {
	display: none; /* 라디오박스 감춤 */
}

#myform label {
	font-size: 3em; /* 이모지 크기 */
	color: transparent; /* 기존 이모지 컬러 제거 */
	text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#myform label:hover {
	text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}

#myform label:hover ~ label {
	text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤에오는 이모지들 */
}

#myform fieldset {
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	direction: rtl; /* 이모지 순서 반전 */
	border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}