<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="admin_head">
		<link rel="stylesheet" href="/resources/css/admin/admin-common/bootstrap.min.css">
		<link rel="stylesheet" href="/resources/css/admin/admin-common/font-awesome.min.css">
		<link rel="stylesheet" href="/resources/css/admin/admin-common/style.css">
		<link rel="stylesheet" href="/resources/css/admin/admin-common/main.css">
		<link rel="stylesheet" href="/resources/css/admin/admin-common/demo.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="76x76" href="/resources/img/아이폰.jpg">
		<link rel="icon" type="image/png" sizes="96x96" href="/resources/img/아이폰.jpg">
	</th:block>
</style>
</head>
<body>

</body>
</html>