<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:replace="fragments/subHeader :: subHeader"></head>
	<head>
		<!-- refund -->
	    <link rel="stylesheet" th:href="@{/resources/css/board/boardList.css}">
	</head>
	
<body>

    <header th:replace="fragments/subBodyHeader :: header">
    </header>
	
	<nav th:replace="fragments/subMenu" :: subNav>
    </nav>

    <section>

        <div class="ref-title-container">
            <div class="ref-innerwrap inner-size">

                <div class="ref-title">
                    <h1>알림 메시지</h1>
                </div>

                <div class="ref-img">
                    <img th:src="@{/resources/img/infoback.png}" alt="">
                </div>

            </div>

			<div class="refund-container inner-size">

				<div class="histroy-table">
					<table>
						<thead>
							<tr>
								<th style="width: 10%;">No</th>
								<th style="width: 75%;">내용</th>
								<th style="width: 15%;">받은날짜</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="alarm,iterStat : ${alarms}"
								th:object="${alarm.alarm}">
								<tr th:if="*{isRead} == 0" th:onclick="|updateIsRead(this,*{alarmIdx})|"
									style="height: 30px; line-height: 30px;">
									<td th:text="${iterStat.count}"></td>
									<td th:if="*{alarmType}=='평점요청'">
									<p th:text="${alarm.message}" th:onclick="move()"></p>
									</td>
									<td th:unless="*{alarmType}=='평점요청'">
									<a th:text="${alarm.message}" th:href="|/exchange/detail/*{reqIdx}|"></a>
									</td>
									<td th:text="*{sendDate}"></td>
								</tr>
								<tr th:if="*{isRead} == 1" style="height: 30px; line-height: 30px;">
									<td th:text="${iterStat.count}"></td>
									<td><a th:text="${alarm.message}"
										th:href="|/exchange/detail/*{reqIdx}|"></a></td>
									<td th:text="*{sendDate}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>

			</div>

		</div>

        <!-- 페이징 -->
        <div class="pagin-wrap">
			<nav class="paging" th:object=${paging}>
				<ul class="pagination">
					<li class="page-item"><a class="page-link"
						th:href="|*{url}?page=*{prev}|" aria-label="Previous"> <span
							aria-hidden="true">&laquo;</span>
					</a></li>

					<li class="page-item"
						th:each="p : ${#numbers.sequence(paging.blockStart,paging.blockEnd)}">
						<a th:href="|*{url}?page=${p}|" class="page-link" th:text="${p}">1</a>
					</li>

					<li class="page-item"><a class="page-link" href="#"
						th:href="|*{url}?page=*{next}|"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>


    </section>

	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	
	<div class="noticePopUp notice">
		<div class="notice_close_wrap">
			<i class="fas fa-times" id="notice_close"></i>
		</div>
		<div class="notice_msg_wrap">
			<p id="notice_msg"></p>
		</div>
		<div class="notice_btn_wrap">
			<button type="button" id="submit_btn">제출</button>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="javascript" th:replace="fragments :: ajax-csrf-header"></script>
	<script type="text/javascript" th:inline="javascript">
	function updateIsRead(e,alarmIdx){
		fetch("http://localhost:9090/read/alarm?alarmIdx=" + alarmIdx, { headers : getCsrfHeader()})
		.then(response => {
			if(response.ok){
				e.style.backgroundColor = "lightyellow";
			} else {
				throw new Error(response.status);
			}
		})
	}
	
	<!-- 교환완료 -->
	function exchangeComplete(){
		<!-- 사용자평가 모달창 생성 -->
		let msg = counterpartNick+"님과의 교환은 어떠셨나요?<br>"
			+ counterpartNick + "에 대한 평점을 남겨주세요.";
		noticeSet(msg);
	}
	
	document.querySelector("#notice_close").addEventListener("click", (e)=> {
		noticeInitialize();
	});
	
	function noticeInitialize(){
		document.querySelector("#notice_msg").innerHTML = "";
		document.querySelector(".noticePopUp").style.setProperty("visibility","hidden");
	}

	function noticeSet(msg){
		document.querySelector("#notice_msg").innerHTML = msg;
		document.querySelector(".noticePopUp").style.setProperty("visibility","visible");
	}

	function move(){
		exchangeComplete();
		<!-- 제출 -->
		location.href="http://localhost:9090/market/cardmarket";
	})
	</script>


</body>
</html>
