<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <header th:fragment="bodyHeader">

        <div class="header-container">

            <div class="login-join-container ">
                <div class="login-join inner-size">
                    <a href="">로그인</a>
                    <div class="divid"></div>
                    <a href="">회원가입</a>
                </div>
            </div>

            <div class="menu-container inner-size">
                <div class="inner-logo">
                    <div class="logo">
                        <a href="/"><img src="../resources/img/mainlogo.png" alt=""></a>
                    </div>
                </div>
                <div class="inner-menu">
                    <div class="trade-market hover"><a href="market/cardmarket" class="color-wt">교환마켓</a></div>
                    <div class="share-market hover"><a href="" class="color-wt">나눔마켓</a></div>
                    <div class="board hover"><a href="" class="color-wt">게시판</a></div>
                    <div class="myCard hover"><a href="" class="color-wt">내카드</a></div>
                    <div class="myPage hover"><a href="" class="color-wt">마이페이지</a></div>
                </div>
            </div>

            <div class="pop-keyword inner-size">
                <div class="pop-title">
                    <p>인기키워드</p>
                </div>
                <div class="pop-product">
                    <div class="product-name"><a href="">#아이폰</a></div>
                    <div class="product-name"><a href="">#나이키</a></div>
                    <div class="product-name"><a href="">#아디다스</a></div>
                    <div class="product-name"><a href="">#선반</a></div>
                </div>
            </div>

            <div class="main-image">
                <img src="../resources/img/background-image.png" alt="">
            </div>
        </div>

    </header>