<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- fontaawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        
    <!-- resetcss -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    
    <!-- indexcss -->
    <link rel="stylesheet" href="../resources/css/index/index.css">
    
    <!-- cardcss -->
    <link rel="stylesheet" href="../resources/css/card/card2.css">
    
    <!-- favicon -->
    <link rel="icon" type="../resources/img/x-icon" href="../resources/img/favicon.ico">

    <title>SwitchSwitch</title>
    
    
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
		let sock = new SockJS('http://localhost:9090/alarm');
		sock.onmessage = function(msg){
			var data = msg.data;
			console.dir(data);
		};
	</script>
</head>