<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <div th:fragment="subNav" class="sub-menu-inner inner-size">
         <div class="sub-menu-inner inner-size">
            <div class="my-profile"><a href="">내프로필</a></div>
            <div class="exchange-history"><a href="">카드거래내역관리</a></div>
            <div class="point">
                <a href="">포인트</a>
                <div class="point-sub">
                    <a href="">포인트사용충전내역</a>
                    <a href="">포인트충전및환급</a>
                </div>
            </div>
            <div class="inqury-detail"><a href="">문의내역</a></div>
        </div>
 </div>