<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/subHeader :: subHeader"></head>

<body>

	<div th:replace="fragments/carddetail" :: cardDetail> 
	</div>

    <header th:replace="fragments/subBodyHeader :: header">
    </header>

    <section>

        <div class="exmk-title-container">

            <div class="exmk-innerwrap inner-size">
                <div class="exmk-title">
                    <h1>교환마켓</h1>
                </div>

                <div class="exmk-img">
                    <img src="../resources/img/marketimg.png" alt="">
                </div>

            </div>

            <div class="select-form inner-size">
                <div class="category">
                    <select name="category">
                        <option value="">카테고리</option>
                        <option value="전자기기/생활가전">전자기기/생활가전</option>
                        <option value="생활/가공식품">생활/가공식품</option>
                        <option value="게임/만화">게임/만화</option>
                        <option value="뷰티/미용">뷰티/미용</option>
                    </select>
                </div>
                <div class="location">
                    <select name="category">
                        <option value="">지역</option>
                        <option value="서울">서울</option>
                        <option value="경기도">경기도</option>
                        <option value="제주도">제주도</option>
                    </select>
                </div>
                <div class="search">
                    <input type="text" placeholder="검색어를 입력해주세요." maxlength="15">
                </div>
            </div>

            <div class="mk-card-list inner-size">
                <div class="search-info">
                   <p><span class="last-card">120</span>개 카드 찾음</p>
                    <div class="divid"></div>
                    <p>검색 조건 : "전체검색"</p>
                </div>

                <div class="card-list">

                </div>
            </div>

        </div>

    </section>

    <footer>
       <div th:replace="fragments/footer :: footer" ></div>
   	</footer>
   		
   	<script>
   	
   	/* 비동기 통신시 header는 headerObj를 가져와서 사용하고 추가로 header를 지정해야할 때도 여기에 추가해서 사용 */
    let getCsrfHeader = () =>{
        let headerObj = new Headers();
        let csrfHeader = "[(${_csrf.headerName})]";
        let csrfToken = "[(${_csrf.token})]";
        headerObj.append(csrfHeader,csrfToken);
        return headerObj;
    }
   	
        $('.detail-img').slick({
            autoplay:true,
            infinite:true,
            dots:false,
            arrows: false,
        });

        window.onload = ()=> {
            $.ajax({

                type:'get',
                url:"http://192.168.219.103:8090/market/getcard",
                dataType: "json",
                async:false,

                success:(data) => {

                    var result = '';
                    var lastindex = '';

                    $.each(data, (index,value) => {

                    result += '<div class="card-container">'
                    result += '<input type="hidden" id="cardIdx" name="cardIdx" value="'+value.cardIdx+'">'
                    result += '<div class="card-name">'
                    result += '<p>'+value.name+'</p>'
                    result += '</div>'
                    result += '<div class="grade-container">'
                    result += '<div class="icon">'
                    result += '<i class="fas fa-bolt"></i>'
                    result += '</div>'
                    result += '<div class="user-grade">'
                    result += '<p>사용자 평점</p>'
                    result += '<div class="star">'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '</div>'
                    result += '</div>'
                    result += '<div class="item-grade">'
                    result += '<p>물건 평점</p>'
                    result += '<div class="star">'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '<i class="fas fa-star"></i>'
                    result += '</div>'
                    result += '</div>'
                    result += '</div>'
                    result += '<div class="address">'
                    result += '<p>지역 <span>'+value.region+'</span><span>'+value.regionDetail+'</span></p>'
                    result += '</div>'
                    result += '<div class="card">'
                    result += '<img src="../resources/img/ddongCard.png" alt="">'
                    result += '<div class="card-img">'
                    result += '<img src="../resources/img/iphone.png" alt="">'
                    result += '</div>'
                    result += '</div>'
                    result += '</div>'
                   

                    lastindex = index+1;
                    
                })

                $('.card-list').append(result);
                $('.last-card').text(lastindex);

                },

                error:(err) => {
                    console.log(err)
                }

                })

                $('.card-container').click(() => {
                    $('.popup-detail').removeClass('hide')
                })

                $('.close-button').click(() => {
                    $('.popup-detail').addClass('hide')
                })

        }
        
        $('select[name="category"]').change(() => {
            let category={"category" : $('select[name="category"]').val()}
            console.log(category);

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            console.log(token);
            console.log(header);
            
            $.ajax({

                type: 'post',
                url: "http://192.168.219.103:8090/market/category",
                dataType: "json",
                async: false,
                data:  JSON.stringify(category),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header,token);
                },
                contentType: 'application/json',

                success: (data) => {
                	$(".card-list").empty();
                	
                    var result = '';
                    var lastindex = '';

                    $.each(data, (index, value) => {

                        result += '<div class="card-container">'
                        result +=
                            '<input type="hidden" id="cardIdx" name="cardIdx" value="' +
                            value.cardIdx + '">'
                        result += '<div class="card-name">'
                        result += '<p>' + value.name + '</p>'
                        result += '</div>'
                        result += '<div class="grade-container">'
                        result += '<div class="icon">'
                        result += '<i class="fas fa-bolt"></i>'
                        result += '</div>'
                        result += '<div class="user-grade">'
                        result += '<p>사용자 평점</p>'
                        result += '<div class="star">'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '</div>'
                        result += '</div>'
                        result += '<div class="item-grade">'
                        result += '<p>물건 평점</p>'
                        result += '<div class="star">'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '<i class="fas fa-star"></i>'
                        result += '</div>'
                        result += '</div>'
                        result += '</div>'
                        result += '<div class="address">'
                        result += '<p>지역 <span>' + value.region + '</span><span>' + value
                            .regionDetail + '</span></p>'
                        result += '</div>'
                        result += '<div class="card">'
                        result += '<img src="../resources/img/ddongCard.png" alt="">'
                        result += '<div class="card-img">'
                        result += '<img src="../resources/img/iphone.png" alt="">'
                        result += '</div>'
                        result += '</div>'
                        result += '</div>'

                        lastindex = index + 1;

                    })

                    $('.card-list').append(result);
                    $('.last-card').text(lastindex);

                },

                error: (err) => {
                    console.log(err)
                }

            })

            $('.card-container').click(() => {
                $('.popup-detail').removeClass('hide')
            })

            $('.close-button').click(() => {
                $('.popup-detail').addClass('hide')
            })

        })
        
   	</script>
</body>

</html>