<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/subHeader :: subHeader"></head>

<body>

	<div th:replace="fragments/carddetail" :: cardDetail> 
	</div>

    <header th:replace="fragments/subBodyHeader :: header">
    </header>

    <section>

        <div class="exmk-title-container">

            <div class="exmk-innerwrap inner-size">
                <div class="exmk-title">
                    <h1>교환마켓</h1>
                </div>

                <div class="exmk-img">
                    <img src="../resources/img/marketimg.png" alt="">
                </div>

            </div>

            <div class="select-form inner-size">
                <div class="category">
                    <select name="category" class="searchbox">
                        <option value="">카테고리</option>
                        <option value="전자기기/생활가전">전자기기/생활가전</option>
                        <option value="생활/가공식품">생활/가공식품</option>
                        <option value="게임/만화">게임/만화</option>
                        <option value="뷰티/미용">뷰티/미용</option>
                    </select>
                </div>
                <div class="location">
                    <select name="location" class="searchbox">
                        <option value="">지역</option>
                        <option value="서울">서울</option>
                        <option value="경기도">경기도</option>
                        <option value="제주도">제주도</option>
                    </select>
                </div>
                <div class="search">
                    <input name="content" type="text" placeholder="검색어를 입력해주세요." maxlength="15"
                    onkeypress="javascript:if(event.keyCode==13) {search()}">
                </div>
            </div>

            <div class="mk-card-list inner-size">
                <div class="search-info">
                   <p><span class="last-card">120</span>개 카드 찾음</p>
                    <div class="divid"></div>
                    <p>검색 조건 : 
                    "<span class="sc-category ">전체검색</span>"
                     <span class="sc-location hide">경기도</span>
                     <span class="sc-input hide">아이폰</span>
                    </p>
                </div>

                <div class="card-list">

                </div>
            </div>

        </div>

    </section>

    <footer>
       <div th:replace="fragments/footer :: footer" ></div>
   	</footer>
   		
   	<script type="text/javascript" th:inline="javascript" th:src="@{../resources/js/market/cardmarket.js}"></script>
</body>

</html>